div {
        display: flex;
        background-color: #ffffff;
        color: black;
        height: 15%;
        text-align: center;
        padding: 10;
        justify-content: center;
    
    img {
        width: 50%;
    }   
}