  <div class="card user__container " style="width: 18rem;" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user.name}}</li>
      <li class="list-group-item">{{user.phone}}</li>
      <li class="list-group-item">{{user.id}}</li>
      <button type="button" (click)="deleteUser()" class="btn btn-dark">Borrar</button>
      <button data-toggle="modal" data-target="#exampleModalScrollable" type="button" (click)="userDetail()" class="btn btn-light" >Detalles</button>
    </ul>
  </div>